# Сгенерированные каталоги
/bin/
/obj/

# Временные файлы LaTeX
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.synctex.gz
report/*.fls
report/*.fdb_latexmk

# Файлы редакторов
*~
*.swp
*.swo
*.bak